Aulas/
Bibliografia/
data/
Projeto_Final/__pycache__
Projeto1/__pycache__
Projeto1/projeto_vini
Projeto2/__pycache__
Projeto3/__pycache__
Projeto3/best_vae_model.pth
Projeto3/db/celeba
Projeto3/db/pokemon
Projeto3/db/pokemon_jpg
Projeto4/__pycache__
Projeto5/__pycache__
.vscode/

complete_model.ipynb
cuda_test.py
generate_label.py
grid_test.py
load_data_custom.py
load_data_pre.py
neural_network.py
quickstart.py