Aulas/
Bibliografia/
data/
Projeto_Final/__pycache__
Projeto1/__pycache__
Projeto1/projeto_vini
Projeto2/__pycache__
Projeto3/__pycache__
Projeto3/best_vae_model.pth
Projeto3/db/celeba
Projeto3/db/pokemon
Projeto3/db/pokemon_jpg
Projeto4/__pycache__
Projeto5/__pycache__
Projeto5/best_cnn_model.pth
Projeto_Final/db/
Projeto_Final/__pycache__
Projeto_Final/models/__pycache__
Projeto_Final/models/best_complete_cnn_model.pth
Projeto_Final/models/best_simple_cnn_model.pth
Projeto_Final/utils/__pycache__
.vscode/

complete_model.ipynb
cuda_test.py
generate_label.py
grid_test.py
load_data_custom.py
load_data_pre.py
ProjetoFinal_GabrielDelgado.zip
neural_network.py
quickstart.py